<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">PropListings</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn()">
        <a class="nav-link" routerLink="/listings">Listings</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn()">
        <a class="nav-link" routerLink="/add-listing">Add Listing</a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item" *ngIf="!isLoggedIn()">
        <a class="nav-link pointer" (click)="login()" routerLink="/home">Login</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn()">
        <a class="nav-link pointer" (click)="logout()" routerLink="/home">Logout</a>
      </li>
    </ul>
  </div>
</nav>